<%- include('partials/header') -%>
<div class="container">
  <h1>Your Credentials</h1>
  <p>Email: <code><%= credentials.email %></code></p>
  <p>Password: <code><%= credentials.password %></code></p>
  <p class="warning">This page will self-destruct in 5 seconds...</p>
</div>
<script>
  setTimeout(() => { window.location = '/' }, 5000);
</script>
<%- include('partials/footer') -%>